{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Others' Bets</h1>
            <label for="week_number">Select Week:</label>
            <select id="week_number" onchange="location = this.value;" class="form-control mb-3">
                {% for week in weeks %}
                <option value="{% url 'fellow_bets' week %}" {% if week == week_number %}selected{% endif %}>Week {{ week }}</option>
                {% endfor %}
            </select>
            
            <!-- Cards for Mobile View -->
            <div class="d-block d-md-none">
                {% for match in matches %}
                <div class="card mb-2">
                    <div class="card-header">
                        {{ match.away_team }} at {{ match.home_team }}
                    </div>
                    <div class="card-body">
                        Result: {{ match.away_team_result }} : {{ match.home_team_result }}
                        <hr>
                        {% for user in users %}
                            <h6>{{ user.username }}</h6>
                            {% for bet in bets %}
                                {% if bet.user == user and bet.match == match %}
                                    Bet: {% if match.has_started %}{{ bet.predicted_away_score }} : {{ bet.predicted_home_score }}{% else %}🔒{% endif %} <br>
                                    Points: {% if match.has_started %}{{ bet.points }}{% endif %}
                                    <br>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Table for Desktop View -->
            <div class="d-none d-md-block table-responsive">
                <table class="table">
                    <thead>
                        <tr style="background-color: white;">
                            <th>Match</th>
                            <th>Result</th>
                            {% for user in users %}
                            <th><a href="{% url 'profile' user.username %}">{{ user.username }}</a>'s Bet</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in matches %}
                        <tr>
                            <td>{{ match.away_team }} at {{ match.home_team }}</td>
                            <td>{{ match.away_team_result }} : {{ match.home_team_result }}</td>
                            {% for user in users %}
                            <td>
                                {% for bet in bets %}
                                    {% if bet.user == user and bet.match == match %}
                                        {% if match.has_started %}
                                            {{ bet.predicted_away_score }} : {{ bet.predicted_home_score }} ({{bet.points}} points)
                                        {% else %}
                                            🔒
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="{{ users|length|add:1 }}">No matches for this week.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
