{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row mb-4" {% if user.favorite_team.logo %} style="background-image: url('{{user.favorite_team.logo.url}}'); background-size: cover;
    background-position: center;" {% endif%}>
        <div class="profile-header">
            <h2 class="display-4 text-white text-outline">{{ user.username }}'s Profile</h2>
            <a href="{% url 'edit_profile' username=user.username %}" class="btn btn-primary float-right">Edit Profile</a>
         </div>

    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="row">
                {% if user.profile_picture %}
                    <div class="profile-picture-container">
                        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
                    </div>
                {% endif %}
                            
                <!-- Bio  -->
                {% if user.bio %}
                    <h4 class="text-white">About {{ user.username }}</h4>
                    <p>{{ user.bio }}</p>
                    <hr>
                {% endif %}
            </div>

            
            <!-- Main container -->
            <div class="card fade-in bg-dark text-white">
                <!-- Favorite Team Header -->
                <h4 class="mt-4 ml-4">Favorite Team</h4>

                <!-- Favorite Team Body -->
                <div class="card-body mt-2 bg-light text-dark rounded shadow-lg">
                    <h5>{{ user.favorite_team.name }}</h5>
                </div>

                <!-- Upcoming Matches Header -->
                <h4 class="mt-4 ml-4">Upcoming Matches</h4>

                <!-- Upcoming Matches List -->
                {% for match in upcoming_matches %}
                <div class="card mt-3 bg-light text-dark rounded shadow-lg fade-in">
                    <div class="card-body">
                        <h6>{{ match.home_team.name }} vs {{ match.away_team.name }}</h6>
                        <p>{{ match.date|date:"d M, Y" }}</p>

                    </div>
                </div>
                {% endfor %}
            </div>

            
            <!-- Achievements -->
            <h4 class="mt-4 text-white ">Achievements</h4>
            <div class="owl-carousel">
                {% if user_achievements %}
                    {% for achievement in user_achievements %}
                    <div class="mb-3">
                        <div class="card h-100">
                            {% if achievement.achievement.image %}
                            <img src="{% static '/images/achievements/'|add:achievement.achievement.image %}" alt="{{ achievement.name }} icon" class="card-img-top" style="max-height: 100px; object-fit: contain; ">
                            {% endif %}
                            <div class="card-body text-black text-center">
                                <h5 class="card-title">{{ achievement.achievement.name }}</h5>
                                <p class="card-text text-black text-center">{{ achievement.achievement.description }}</p>
                                <small class="text-muted">Achieved on {{ achievement.date_achieved|date:"d M, Y" }}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="col-12">
                    <p>No achievements earned yet.</p>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Points -->
        <div class="col-md-6">
            <h4 class="mb-4 text-white">Points Overview</h4>
            <h5 class="mb-3 text-white">Total Points</h5>
            <p class="lead mb-4">{{ total_points }}</p>
            <div style="background-color: white;">
                <canvas id="pointsBreakdownChart"></canvas>
            </div>


        
            
        <h5 class="text-white">Points by Week</h5>
        <div style="background-color: white;">
            <canvas id="pointsGraph"></canvas>
        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let weeks = [{% for week in weekly_points %}"{{ week.match__week_number }}",{% endfor %}];
    let points = [{% for week in weekly_points %}{{ week.week_points }},{% endfor %}];

    document.addEventListener("DOMContentLoaded", function() {
        let ctx = document.getElementById('pointsGraph').getContext('2d');
        
        let chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: weeks,
                datasets: [{
                    label: 'Points by Week',
                    backgroundColor: 'rgba(15,48,84, 0.5)', // Color of the area under the line
                    borderColor: 'rgb(15,48,84)', // Line color
                    data: points,
                    fill: true, // Fill the area under the line
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true // Ensures that the graph starts at 0
                    }
                }
            }
        });
    });

    var ctx = document.getElementById('pointsBreakdownChart').getContext('2d');

    var data = {
        labels: ['1 Point', '3 Points', '5 Points'],
        datasets: [{
            label: 'Points Breakdown',
            data: [{{ points_1_count }}, {{ points_3_count }}, {{ points_5_count }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }]
    };

    var options = {
        responsive: true,
        plugins: {
            legend: {
                display: true,
                position: 'bottom'
            }
        }
    };

    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: options
    });

    $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
          loop: true,
          margin: 10,
          nav: true,
          responsive:{
              0:{
                  items:1
              },
              600:{
                  items:3
              },
              1000:{
                  items:3
              }
          }
        });
      });


    

</script>
{% endblock %}
