<!-- schedule_template.html -->
{% extends 'base.html' %}
{% block content %}
<html>
<head>
    <title>NFL Schedule</title>
 
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>NFL Schedule 2023</h1>
                <form id="teamForm" method="get">
                    <label for="team">Select a team:</label>
                    <select name="team" id="team">
                        <option value="">All Teams</option>
                        {% for team_name in team_names %}
                            <option value="{{ team_name }}">{{ team_name }}</option>
                        {% endfor %}
                    </select>
                    <select name="week" id="week">
                        <option value="">All Weeks</option>
                        {% for week in weeks %}
                            <option value="{{ week }}">Week {{ week }}</option>
                        {% endfor %}
                    </select>
                </form>
                <br>
                <table class="table">
                    <tr style="background-color: white;">
                        <th>Week</th>
                        <th>Date</th>
                        <th></th>
                        <th>Away Team</th>
                        <th>Home Team</th>
                        <th></th>
                        <th>Location</th>
                    </tr>
                    {% for game in schedule_data %}
                    <tr>
                        <td>{{ game.week_number }}</td>
                        <td>{{ game.date }}</td>
                        <td><img src="{{ game.away_team.logo.url }}" alt="{{ game.away_team.name }} Logo" style=" height: 100px; width: 100px;"></td>
                        <td {% if game.away_team == selected_team %} class = selected {% endif %}>{{ game.away_team }} </td>
                        <td {% if game.home_team == selected_team %} class = selected {% endif %} >{{ game.home_team }}</td>
                        <td><img src="{{ game.home_team.logo.url }}" alt="{{ game.home_team.name }} Logo" style=" height: 100px; width: 100px;"></td>
                        <td>{{ game.location }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script>
        // JavaScript to auto-submit the form when a team is selected from the dropdown
        const teamDropdown = document.getElementById('team');
        const weekDropdown = document.getElementById('week');
        const savedTeam = localStorage.getItem('selectedTeam');
        const savedWeek = localStorage.getItem('selectedWeek');
    
        teamDropdown.value = savedTeam ?? '';
        weekDropdown.value = savedWeek ?? '';
    
        teamDropdown.addEventListener('change', () => {
            localStorage.setItem('selectedTeam', teamDropdown.value);
            document.getElementById('teamForm').submit();
        });
    
        weekDropdown.addEventListener('change', () => {
            localStorage.setItem('selectedWeek', weekDropdown.value);
            document.getElementById('teamForm').submit();
        });
    
        window.addEventListener('load', () => {
            if (savedTeam) {
                highlightSelectedTeam(savedTeam);
            }
        });
    
        function highlightSelectedTeam(selectedTeam) {
            const tableRows = document.querySelectorAll('.table tr');
            tableRows.forEach(row => {
                const awayTeamCell = row.querySelector(`td[data-team="${selectedTeam}"][data-type="away"]`);
                const homeTeamCell = row.querySelector(`td[data-team="${selectedTeam}"][data-type="home"]`);
    
                if (awayTeamCell) {
                    awayTeamCell.classList.add('selected');
                }
                if (homeTeamCell) {
                    homeTeamCell.classList.add('selected');
                }
            });
        }
    </script>
</body>
</html>
{% endblock content %}
