{% extends 'base.html' %}
{% load index %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center">Standings</h1>

    <!-- Cards for Mobile View -->
    <div class="d-block d-md-none">
        {% for user, points in standings.items %}
        <div class="card mb-2">
            <div class="card-header">
                {{ user.username }}
                <span class="float-right">Total: {{ grandTotal|index:user.username }}</span>
            </div>
            <div class="card-body">
                <h6>Weekly Points</h6>
                {% for week, week_points in points.items %}
                    <div>Week {{ week }}: {{ week_points }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Table for Desktop View -->
    <div class="d-none d-md-table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    {% for week in weeks %}
                        <th>Week {{ week }}</th>
                    {% endfor %}
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for user, points in standings.items %}
                    <tr>
                        <td>{{ user.username }}</td>
                        {% for week, week_points in points.items %}
                            <td>{{ week_points }}</td>
                        {% endfor %}
                        <td>{{ grandTotal|index:user.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}